html {
	/* overflow-y: scroll; */
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

body.open {
    overflow: hidden;
}


@media(min-width: 1200px){
	.container {
		max-width: 1200px;
	}
}

/*------------------------------------------------
# Headings, Typography
-------------------------------------------------*/
h1 {
	font-size: 60px;
	font-weight: 900;
}


h2 {
	font-size: 36px;
	font-weight: 700;
}

h3 {
	font-size: 24px;
	font-weight: 400;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
	font-weight: 700;
}

h6 {
	font-size: 18px;
}

.uc {
	text-transform: uppercase;
}

.p24 {
	font-size: 24px;
}

.p22 {
	font-size: 22px;
}

.p20 {
	font-size: 20px;
}

.p18 {
	font-size: 16px;
}

.p16 {
	font-size: 16px;
}

.p14 {
	font-size: 14px;
}

.p12 {
	font-size: 12px;
}

.p10 {
	font-size: 10px;
}

.black {
	font-weight: 900;
}

.light {
	font-weight: 300;
}

.grad-text {
	background: -moz-linear-gradient(left, #eb7a12 0%, #eb6748 25%, #ea4e79 50%, #c2528c 75%, #9866a1 100%);
	background: -webkit-linear-gradient(left, #eb7a12 0%,#eb6748 25%,#ea4e79 50%,#c2528c 75%,#9866a1 100%);
	background: linear-gradient(to right, #eb7a12 0%,#eb6748 25%,#ea4e79 50%,#c2528c 75%,#9866a1 100%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	background-clip: text;
  	background-text-fill-color: transparent;
  	color: #eb7327;
}

.txt-white {
	color: #fff;
}

.txt-white a {
	color: #fff;
}

.txt-grey {
	color: #666666;
}

.fh {
	min-height: 100vh;
}

/*------------------------------------------------
# Backgrounds
-------------------------------------------------*/
 

.grad {
	background: #eb7a12;
	background: -moz-linear-gradient(left, #eb7a12 0%, #eb6748 25%, #ea4e79 50%, #c2528c 75%, #9866a1 100%);
	background: -webkit-linear-gradient(left, #eb7a12 0%,#eb6748 25%,#ea4e79 50%,#c2528c 75%,#9866a1 100%);
	background: linear-gradient(to right, #eb7a12 0%,#eb6748 25%,#ea4e79 50%,#c2528c 75%,#9866a1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb7a12', endColorstr='#9866a1',GradientType=1 );
}

.bg-grey {
	background-color: #eceaec;
}

.bg-blue {
	background-color: #343a40;
}

.bg-darkgrey {
	background-color: #1a1f21;
}

.bg-white {
	background-color: #fff;
}

.bg-red {
	background-color: red;
}

.bg-green {
	background-color: green;
}


/*------------------------------------------------
# Buttons
-------------------------------------------------*/


a.btn-cta, button.btn-cta {
	background: #ffa500;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	border-radius: 5px;
	padding: 10px 60px 10px 60px;
	outline: 0;
	border: 0px;
	background-size:100% 1px;
	-webkit-transition: background 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	transition: background 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

a.btn-cta:hover, button.btn-cta:hover {
	color: #fff;
	-webkit-transition: background 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	transition: background 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	background-size:175% 1px;
}


a.btn-cta:focus, 
button.btn-cta:focus {
	color: #fff;
	outline: 0;
}


a.btn-cta.btn-red, button.btn-cta.btn-red {
	background: #ffa500;
	color: #fff;
}

a.btn-cta.btn-blue:hover, button.btn-cta.btn-blue:hover {
	background: #6ac3cd;
	color: #fff;
	text-decoration: none;
}

a.btn-cta.btn-red:hover, button.btn-cta.btn-red:hover {
	background: #cc2556;
	color: #fff;
	text-decoration: none;
}

a.btn-cta.btn-sm {
	padding: 10px 20px 10px 20px;
}

a.btn-cta.btn-xs {
	padding: 5px 10px 5px 10px;
	font-size: 15px;
}

a.btn-cta.btn-dropshadow, button.btn-cta.btn-dropshadow {
	box-shadow: 0px 4px 3px rgba(0,0,0,0.4);
}

@media(max-width: 767px){
    a.btn-cta, button.btn-cta {
        display: block;
        width: 100%;
    }
}


/*------------------------------------------------
# Utilities
-------------------------------------------------*/
.logo {
    width: 227px;
    max-width: 100%;
}


.box {
	padding: 20px 30px;
	border-radius: 6px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

ul.tick-list {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

ul.tick-list > li {
	padding-left: 40px;
	background: url('../images/check-circle-regular.svg') no-repeat left center;
	background-size: 19px 19px;
	line-height: 1.5;
}

.question {
	position: relative;	
}

.question-title {
	margin-bottom: 5px;
	text-align: left;
	cursor: pointer;
	margin-bottom: 0px;
	padding-right: 25px;
}



.question-title:after {
	display: block;
	content: '+';
	color: #e94e7a;
	position: absolute;
	right: 20px;
	font-size: 24px;
	top: 18px;
	font-weight: 800;
	-webkit-transition: .15s;
  	-moz-transition: .15s;
  	-o-transition: .15s;
  	transition: .15s;
}

.question-title.active:after {
	/*content: '-';*/
	transform: rotate(45deg);
	-webkit-transition: .15s;
  	-moz-transition: .15s;
  	-o-transition: .15s;
  	transition: .15s;
}

@media(max-width: 767px){
	.question-title.active:after {
		content: '-';
		transform: none;
	}
}

.question-title + div {
	margin-top: 20px;
	display: none;
}

.question-title.active + div {
	display: block;
}


#main-header {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
}

#main-header .container {
	width: 60%;
	margin: 0;
	display: flex;
}

@media(max-width: 640px){
    #main-header .container {
        width: 100%;
        display: block;
        padding-left: 30px;
        padding-right: 30px;
    }   
}

nav ul {
	margin: 0;
	margin-right: 30px;
	padding: 0;
	list-style-type: none;
	display: flex;
}

nav ul li:not(first-child) {
	padding-left: 30px;
}

nav ul li a {
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
}

nav ul li a:hover {
	text-decoration: none;
	color: #999999;
}

.nav-icon {
  width: 30px;
  height: 50px;
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
  display: none;
}

.nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000000;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-icon span:nth-child(2) {
  top: 8px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-icon span:nth-child(3) {
  top: 16px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  top: -2px;
  left: 25px;
  
}

.nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
  left: -15px;
}

.nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  top: 19px;
  left: 25px;
  
}

#hero {
    display: flex;
    transition: all .5s ease;
}

#hero h1 {
	max-width: 650px;
}

#hero h2 {
	font-size: 24px;
	font-weight: 400;
	max-width: 420px;
    line-height: 1.5;
}

#hero-solid {
	min-height: 770px;
	height: 100vh;
	background-color: #343a40;
	color: #fff;
	width: 60%;
}

#hero-photo {
	min-height: 770px;
	height: 100vh;
	background: #343a40 url('../images/cover.jpg') no-repeat center bottom / cover;
	width: 40%;
}

body.open #hero  {
    transform: translateX(-60%);
    transition: all .5s ease;
}


@media(max-width: 1150px){
	#hero-solid {
		padding: 0px 30px;
	}

	nav ul {
		margin-right: 0px;
	}

	nav ul li:not(first-child) {
		padding-left: 20px;
	}
}

@media(max-width: 991px){
	nav ul {
		display: none;
	}

	.nav-icon {
		display: block;
	}
}

@media(max-width: 640px){
	#hero, #hero-solid, #hero-photo {
		display: block;
		width: 100%;
	}

	#hero-solid {
		padding-top: 100px;
		padding-bottom: 50px;
		min-height: 90vh;
		height: auto;
	}

	#hero-photo {
		min-height: 290px;
		height: 290px;
		background-image: url('../images/cover_sm.jpg');
	}

	.nav-icon span {
		background-color: #fff;
	}

	#hero h1 {
		font-size: 48px;
	}

	#hero h2 {
		font-size: 24px;
		line-height: 1.5;
	}
}


/*------------------------------------------------
# Front Page Styles
-------------------------------------------------*/

.reason-icon object {
	width: 38px;
}


.hiw-step {
	width: 72px;
	height: 72px;
	background-color: #eceaec;
	padding: 9px 12px;
	text-align: left;
	position: relative;
}

.hiw-step img {
	position: absolute;
	bottom: 0px;
	right: -0px;
	width: 68px;
	transform: translate(50%, 50%);
	/*transform: translateX(50%);*/
	
	height: auto;
}


.hiw-step:before {
	border-width: 0 4px 0 0;
	border-color: #eceaec;
	border-style: dashed;
	content: '';
	display: block;
	width: 1px;
	height: 50px;
	position: absolute;
	left: 50%;
    transform: translateX(-50%);
	bottom: -68px;
}

.hiw-step:after {
	border-width: 8px 8px 0px 8px;
	border-color: #eceaec transparent transparent;
	border-style: dashed;
	position: absolute;
	content: '';
	display: block;
	left: 50%;
	transform: translateX(-50%);
	bottom: -76px;
}

.hiw-step.last:after, .hiw-step.last:before {
	display: none;
}


@media(max-width: 767px) {

	.hiw-step {
		width: 54px;
		height: 54px;
		font-size: 16px;
		padding: 3px 8px;
	}

	.hiw-step img {
		position: absolute;
		bottom: 0px;
		right: -0px;
		width: 51px;
		transform: translate(50%, 50%);
		/*transform: translateX(50%);*/
		
		height: auto;
	}


	.hiw-step:before {
		border-width: 0 4px 0 0;
		border-color: #eceaec;
		border-style: dashed;
		content: '';
		display: block;
		width: 1px;
		height: 50px;
		position: absolute;
		left: 50%;
	    transform: translateX(-50%);
		bottom: -68px;
	}

	.hiw-step:after {
		border-width: 8px 8px 0px 8px;
		border-color: #eceaec transparent transparent;
		border-style: dashed;
		position: absolute;
		content: '';
		display: block;
		left: 50%;
		transform: translateX(-50%);
		bottom: -76px;
	}
	
}

#customers {
	position: relative;
}

.customer {
	display: flex;
	margin-bottom: 10px;
}

.customer img {
	width: 71px;
	height: 71px;
	align-self: center;
}

.customer .box {
	position: relative;
	margin-left: 10px;
}


#customers svg {
		display: none;
	}

@media(min-width: 991px){
	#customers svg {
		display: block;
	}

	.customer {
		position: absolute;
		width: 95px;
		height: 95px;
		transform: translate(-50%, -50%);
	}

	.customer {
		position: absolute;
		width: 95px;
		height: 95px;
		transform: translate(-50%, -50%);
		margin-bottom: 0px;
	}

	.customer img {
		width: 95px;
		height: 95px;
		position: relative;
		cursor: pointer;
	}

	.customer .box {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 115px;
		width: 385px;
		max-width: 385px;
		display: none;
		margin-left: 0px;
	}

	.customer.box-left .box {
		right: 115px;
		left: auto;
	}

	.customer .box:before {
		content: '';
		position: absolute;
		left: -15px;
		top: 50%;
		transform: translateY(-50%);
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 9px 15.6px 9px 0;
		border-color: transparent #ffffff transparent 
	}

	.customer.box-left .box:before {
		right: -15px;
		left: auto;
		border-width: 9px 0 9px 15.6px;
	}

	.customer.active .box {
		display: block;
	}

	#customer-1 {
		left: 36%;
		top: 40%;
	}

	#customer-2 {
		left: 5%;
		top: 47%;
	}

	#customer-3 {
		left: 44%;
		top: 80%;
	}

	#customer-4 {
		left: 90%;
		top: 28%;
	}
}


/*------------------------------------------------
# Lead Form and Login Form
-------------------------------------------------*/

.cover {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
    z-index: 9;
    display: none;
}

.cover.show {
    display: block;
}

/*------Form Display Fixes--------*/

#lead-form {
	background-color: #fff;
	width: 100%;
	right: -120%;
	top: 0;
	bottom: 0;
	box-shadow: -3px 0px 3px rgba(0,0,0,0.3);
	padding: 15px 30px 30px 30px;
    transition: all .5s ease-in;
    opacity: 1;
    z-index: 10;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

#lead-form.show {
	opacity: 1;
	width: 60%;
    right: 0;
    transition: all .5s ease;
    position: fixed;
    display: block;
}

@media(max-width: 640px){
	#lead-form.show {
		width: 100%;
	}
}

#lead-form #lf_app {
	min-width: 770px;
	max-width: 100%;
}

#lead-form .close {
	display: none;
}

#lead-form.show .close {
	display: block;
}

#lead-form.show  #lf_app {
	min-width: auto;
	max-width: auto;
}

/*------End Form Display Fixes--------*/


.form-control {
	border: 0px;
	border-bottom: 1px solid #949494;

	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	font-size: 16px;
	color: #495057;
	background-color: #fff;
	height: auto;
	padding: 19px 5px 0px;
	min-height: 55px;
}

.form-control:focus {
	box-shadow: none;
	border-color: #343a40;
}


.form-control.valid.dont-mark, .form-control.error.dont-mark {
	background-image: none;
}

.app-row {
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 10px;

}

.app-row label {
	position: absolute;
	z-index: 2;
	font-size: 16px;
	top: 25px;
	left: 5px;
	color: #495057;
	transition: all 0.2s ease 0s;
	display: block;
	margin-bottom: 0px;
}

.app-row.has-error label {
	display: none;
}


.app-row label.focused {
	font-size: 12px;
	top: 5px;
	color: #666666;
	pointer-events: none;
}

.check-label {
	font-size: 16px;
	color: #495057;
	padding-left: 5px;
}

.form-check label {
	font-size: 14px;
	color: #495057;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	
	background: transparent;
	border-radius: 0px;
	padding: 25px 5px 0px 1px;;
	font-size: 16px;
	border: 0px;
	border-bottom: 1px solid #949494;
	display: block;
	height: auto;
	min-height: 55px;
	color: #495057;
	outline: 0;
}

select {
	width: 100% !important;
}

select:-moz-focusring {
	text-shadow: 0 0 0 0;
	outline: 0;
}

select::-moz-focus-inner {
	border: 0;
	outline: 0;
	color: #fff;
}
  

select:focus, select:active {
	outline: 0;
}
.select-container {position:relative; display: inline-block; outline: 0; width: 100%;}
.select-container:focus { outline: 0;}
.select-container:after {content:""; width:0; height:0; position:absolute; pointer-events: none;}
.select-container:after {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	top: 34px;
	right: .75em;
	border-top: 8px solid black;
	opacity: 0.5;
}
select::-ms-expand {
	display: none;
}

.select-container.valid {
	background: #fff url('../images/form_valid.png') no-repeat right top;
	background-size: 28px 55px;
}

.select-container.invalid {
	background: #fff url('../images/form_invalid.png') no-repeat right top;
	background-size: 28px 55px;
}

.select-container.valid:after {
 right: 2em;
}

.select-container.invalid:after {
    right: 2em;
}

.form-control + .optional-field-helper { 
	display: none;
}

.optional-field-helper {
	padding: 3px 5px;
	color: rgb(12, 84, 96);
	background: rgb(209, 236, 241);
	font-size: 12px;
	font-style: oblique;
	
}

.app-row .input-error {
	width: 100%;
}

.form-control:focus + .optional-field-helper { 
	display: block;
}

.password-field-helper {
	color: #999999;
	margin-left: -40px;
	z-index: 2;
	cursor: pointer;
}

.help-block.form-error {
	position: absolute;
	z-index: 2;
	font-size: 12px;
	top: 8px;
	left: 15px;
	color: #8a8a8a;
	transition: all 0.2s ease 0s;
	display: block;
	margin-bottom: 0px;
	pointer-events: none;
}

ul.value-selector {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	display: none;
}

ul.value-selector li {
	background-color: #eceaec;
	border-radius: 6px;
	padding: 3px 6px;
	font-size: 14px;
	margin-left: 3px;
	margin-bottom: 3px;
	cursor: pointer;
}

ul.value-selector li:active {
	background-color: #dedede;
}

ul.value-selector.show {
	display: flex;
}


@media(max-width: 991px){
	#lead-form {
		width: 75%;
	}
}

@media(max-width: 776px){
	#lead-form {
		width: 100%;
	}

	.app-row {
		max-width: 100%;
	}
}



/* Form Validation */
input.valid {
	background: #fff url('../images/form_valid.png') no-repeat right center;
	background-size: 28px 55px;
}


input.invalid {
	border-color: #B94A48;
	background: #fff url('../images/form_invalid.png') no-repeat right center;
	background-size: 28px 55px;
}

.form-control:disabled {
	color: #999;
	background-color: #fff;
	cursor: not-allowed;
	background: #fff url('../images/form_disabled.png') no-repeat right center;
	background-size: 28px 55px;
}


.input-error {
	color: #B94A48;
	font-size: 12px;
	transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
}


.radio-options {
	display: flex;
	flex-wrap: wrap;
}

.radio-option {
	background-color: #eceaec;
	border-radius: 6px;
	padding: 6px 12px;
	font-size: 16px;
	margin-left: 3px;
	margin-bottom: 3px;
	cursor: pointer;
	display: flex;
	align-items: center;
	text-align: center;
}

.radio-option:first-child {
	margin-left: 0px;
}

.radio-option.selected {
	background-color: #6ac3cd;
	color: #fff;
}



/*---------------------------------------
FORM VIEW
---------------------------------------------*/

#form-photo {
	height: 100vh;
	background: #343a40 url('../images/cover.jpg') no-repeat center bottom / cover;
	width: 40%;
	position: fixed;
	left: 0;
	top: 0;
	right: 40%;
}

#form-photo.interstitial {
	background: #343a40 url('../images/cover-interstitial.jpg') no-repeat center bottom / cover;
}

#form-photo.internal {
	background: #343a40 url('../images/cover-internal.jpg') no-repeat center bottom / cover;
}

#form-content {
    /* background-color: #fff; */
    position: absolute;
    display: flex;
    flex-direction: column;
	left: 40%;
	right: 0;
    top: 0;
    min-height: 100vh;
    align-items: flex-end;
}

#form-content footer {
    
    width: 100%;
}

#form-content .container {
    flex-grow: 1;
	padding: 0px 50px;
}


@media(max-width: 1150px){
	#form-content {
		/* padding: 0px 30px; */
	}
}

@media(max-width: 991px){
	#form-photo {
		width: 30%;
		right: 30%;
	}
	
	#form-content {
		left: 30%;
		right: 0;
	}
}

@media(max-width: 767px){
	#form-content .container {
		padding: 0px 30px;
	}
}

@media(max-width: 640px){
	#form-content, #form-photo {
		position: static;
		display: block;
		width: 100%;
	}

	#form-content .container {
		padding: 0px 15px;
	}

	#form-photo {
		min-height: 140px;
		height: 140px;
		background: none;
		display: none;
	}

}



.steps {
	display: flex;
	position: relative;
	justify-content: space-between;
}

.steps:after {
	position: absolute;
	display: block;
	content: '';
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
	width: 100%;
	height: 1px;
	border-bottom: 2px solid #c9c9c9; 
}

.step {
	width: 22px;
	height: 22px;
	border: 2px solid #c9c9c9;
	background-color: #fff;
	border-radius: 11px;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	position: relative;
	z-index: 2;
}

.step.links {
	cursor: pointer;
}

.step.current .label {
	position: absolute;
	background-color: #ffa500;
	font-size: 12px;
	padding: 2px 5px 3px 5px;
	border-radius: 3px;
	color: #fff;
	bottom: -35px;
	left: 50%;
	width: 50px;
	text-align: center;
	transform: translateX(-50%);
}

.step.current:after {
	content: '';
	position: absolute;
	bottom: -12px;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 4px 5px 4px;
	border-color: transparent transparent #ffa500 
}

.step.complete {
	background: #ffa500 url('../images/step_tick.png') no-repeat center center;
	background-size: 6px 6px;
	border-color: #ffa500;
}

.step.current:before {
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	background-color: #ffa500;
	border-radius: 4px;
	left: 50%;
	top: 50%;
	margin-left: -4px;
	transform: translateY(-50%);
}

.some-errors {
	background-color: #dd043f;
	font-size: 12px;
	padding: 2px 5px 3px 5px;
	border-radius: 3px;
	color: #fff;
	margin-left: 10px;
	display: inline-block;
	position: relative;
}

.some-errors:before {
	content: '';
	position: absolute;
	left: -5px;
	top: 50%;
	transform: translateY(-50%);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 5px 4px 0;
	border-color: transparent #dd043f transparent 
}

.slide-enter {
	opacity: 0;
}

.slide-enter-active {
	animation: slide-in .5s ease-out forwards;
	transition: opacity .5s;
}

.slide-leave-active {
	transition: opacity .5s; 
	opacity: 0;
}

@keyframes slide-in {
	from {
			transform: translateX(20px);
	}
	to {
			transform: translateX(0px);
	}
}

.dots {
    width: 3.5em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .dots div {
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    background-color: #fc2f70;
    animation: fade 0.8s ease-in-out alternate infinite;
  }
  
  .dots div:nth-of-type(1) {
    animation-delay: -0.4s;
  }
  
  .dots div:nth-of-type(2) {
    animation-delay: -0.2s;
  }
  
  @keyframes fade {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .loading-cover {
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    display: flex;
    z-index: 99;
}